<!-- Copied from Brown -->

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="img/logo.png" alt="Meadowlark Travel logo">
            <p><a href="/">Home</a> <a href="/secret" style="color: white;">Secret</a>
                <a href="/about">About</a></p>
        </header>
        {{{body}}}
    </body>
</html>